/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

.top_left {
  padding-left: 19rem;
  @media screen and (max-width: $tab) {
    padding-left: 0;

    #logo {
      position: relative;
    }
  }


  #logo img {
    height: 100px;
    @media screen and (max-width: $tab) {
      position: relative;
    }
  }

  #site-title #site-description {
    @include adjust-font-size-to(20px);
    color: #008152;
    font-style: normal;
    font-family: $semc-font;
    @media screen and (max-width: $tab) {
      padding: 0 2rem 2rem 2rem;
    }
  }
}

#main-menu .menu .menu-item .active,
#main-menu .menu .menu-item .active + .menu-main_sub .title a {
  border-bottom-color: $brand-secondary;
}

#block-webform {
  h2 {
    @include adjust-font-size-to(24px);
    padding: 0;
  }
}

#block-views-block-board-members-board-members-block {
  h2 {
    @include adjust-font-size-to(24px);
    padding: 0;
  }
}

#top-area {
  h3 {
    @include adjust-font-size-to(18px);
    margin: 1.6rem 0 1.2rem;
  }

  p {
    margin: 0;
  }
}

.sidebar-second-layout {
  .rel-menu--latest-news {
    margin-bottom: 2rem;

    ul {
      margin-bottom: 1rem;

      li {
        padding: 0 0 .6rem 1rem;
        list-style: none;
        margin: 0 0 .2rem;
        position: relative;

        &::before {
          content: "-";
          left: 0;
          position: absolute;
          top: 0;
        }

        .date-published {
          display: block;
          font-size: 1.4rem;
          line-height: 1.8rem;
        }
      }
    }
  }
}

#block-views-block-same-topic-same-topic {

  p.field-content {
    margin-top: 0.5rem;
  }

  h2 {
    @include adjust-font-size-to(24px);
    padding: 0;
  }

  a {
    @include adjust-font-size-to(18px);
    margin-bottom: 0.4rem;
  }
}

.region-footer {
  text-align: right;
}

#footer-area .block {
  h2 {
    color: $black;
    @include adjust-font-size-to(25px)
  }
}

#footer {

  .container-wrap {
    display: block;
  }

  @include breakpoint($tab) {
    padding: 2%;
  }

  .footer-menu li {
    @include adjust-font-size-to(16px);
    padding-left: 0;
    list-style-type: none;

    @include breakpoint($mob) {
      display: inline-block;
      padding: 0 .8rem 0 0;
      line-height: 1.8rem;
      margin-right: .5rem;
    }

    a {
      @media screen and (min-width: $mob) {
        display: block;
      }
    }
  }
}


