/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

#header {
  background: resolve('header_bg.jpg') no-repeat top right;
  margin: .5rem auto .1rem;

  @media screen and (max-width: 890px) {
    background: none;
  }
}

.top_left {
  min-height: 14.5rem;

  #logo img {
    height: 120px;
  }
}

#nav-main-toggle {

  @media screen and (max-width: $tab) {
    margin: 1.1rem;
  }
}

.front .container-wrap {
  position: relative;
  padding-top: .1rem;

  @media screen and (max-width: $tab) {

    height: 100%;
    margin: 0;
  }
}

.sidebar-second-layout {
  .rel-menu--latest-news {
    margin-bottom: 2rem;

    ul {
      margin-bottom: 1rem;

      li {
        padding: 0 0 .6rem 1rem;
        list-style: none;
        margin: 0 0 .2rem;
        position: relative;

        &::before {
          content: "-";
          left: 0;
          position: absolute;
          top: 0;
        }

        .date-published {
          display: block;
          font-size: 1.4rem;
          line-height: 1.8rem;
        }
      }
    }
  }
}

.views-field-field-photo .field-content .media-image img {
  display: block;
}

#block-makeanappealblock {
  position: absolute;
  top: 0;
  background: $brand-tertiary;
  width: 35.5rem;
  margin-top: .1rem;

  @media screen and (min-width: 990px) {
    padding: 2rem 3rem;
  }

  @media screen and (max-width: 990px) {
    position: relative;
    width: 100%;
    margin-top: 0;
  }

  .content {

    @media screen and (max-width: 990px) {
      padding: 1rem;
    }

    div {

      h2 {
        color: $white;
        @include adjust-font-size-to(20px);
        margin: 0;
      }

      p {
        color: $white;
      }

      a.btn {
        padding: .4rem 1.6rem;
      }
    }
  }
}

#main-menu .menu .menu-item .active, #main-menu .menu .menu-item .active + .menu-main_sub .title a {
  background: none;
  border-bottom: none;
}

.region-bottom-widget-1,
.region-bottom-widget-2,
.region-bottom-widget-3,
.region-bottom-widget-4 {
  background: $grey-lightest;
}

.region-bottom-widget-1,
.region-bottom-widget-2,
.region-bottom-widget-3 {

  .content {

    p {
      text-align: center;
      margin: 0 0 1rem;

      @media screen and (max-width: $tab) {
                margin: auto;
      }
    }

    .btn {
      margin: 1rem;
    }
  }
}

#bottom_wrapper .upper-row {
  display: flex;
  flex-wrap: wrap;

  .column {
    flex: 1 0 calc(33.33% - 2rem - 20px);

    @media screen and (max-width: $tab) {
      width: 97.5%;
      margin: 0 auto 1rem;
    }

    .column {
      flex: 1;
    }

    h2 {
      font-size: 2.1rem;
      line-height: 2.7rem;
      text-align: center;
    }
  }

  @media screen and (max-width: $tab) {
    flex-direction: column;
  }
}

#bottom_wrapper .bottom-row {
  display: flex;

  @media screen and (max-width: $phab) {
    flex-direction: column;
  }

  h2 {
    font-size: 2.1rem;
    line-height: 2.7rem;
  }

  .column {

    width: 32.7%;

    @media screen and (max-width: $tab) {
      margin: 1rem;
    }

    @media screen and (max-width: $phab) {
            margin: 1rem;
            width: auto;
    }
  }

  .column:last-child {
    width: 66%;

    @media screen and (max-width: $phab) {
      width: 100%;
    }
  }
}

.bottom_widget .footer-area .column {

  width: auto;

  @media screen and (max-width: $tab) {
    margin: 0;
  }
}

.region-bottom-widget-4 {
  padding: 1rem 2rem;
}

.region-bottom-widget-5 {
  padding: 0 2rem 1rem 2rem;

  h2 {
    margin: 0 0 2.6rem 0;
  }

  .item-list ul li .date-published {
    display: block;
    margin-bottom: .6rem;
  }
}

#block-mainpagecontent .page-content p span time {
  font-weight: bold;
}

.footer-area .column:last-child {
    float: none;
    width: unset;
}

.footer-area .column {
  padding: 0;
}

#footer .column li {
  display: inline-block;
  border-bottom-style: none;
}
