/*
 * @file
 * Defines the layout code for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/2_layout/index';

.region-homepage-blocks {
  max-width: 1024px;
  margin: 2% auto;
  text-align: center;
  @media screen and (max-width: $lap) {
    padding: 1%;
  }
}
