/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';
#header {
  max-width: 100%;
  margin: 0;
  padding: 1% 0 0;

  @include breakpoint($tab) {
    padding-bottom: 1%;
  }

  .menu_wrapper {
    margin-right: 2rem;

    a {
      @include adjust-font-size-to(16px);
      color: $black;
      border-bottom: 1px solid $black;

      &:hover,
      &:focus {
        border-bottom: 2px solid $link;
      }

      &:focus {
        color: $white;
      }
    }
  }
}

#header_wrapper {
  background-image: resolve('library-banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  }

#main-menu {
  max-width: 100%;

  #nav-main-menu {
    max-width: 1024px;
    margin: 0 auto;
  }
}

@include breakpoint($tab) {
  #header {
    display: block;

    .menu_wrapper {
      float: right;
      margin-top: 2rem;
    }
  }
}

@media screen and (max-width: $tab) {
  .top_left {
    width: 100%;

    #logo {
      position: relative;
      float: none;
    }

    #header-menu .menu {
      text-align: center;
    }
  }

  #headerHero {
    min-height: 7rem;
  }
}

#header-menu {
  .menu {
    list-style: none;
    background: $white;
    border: solid $black 2px;

    li {
      display: inline-block;
      padding: 0.6rem 2rem 0.8rem 2rem;
    }

    ul {
      margin: 1.3rem 2rem 1.8rem 2.4rem;
    }
  }
}

#content #post-content a.glossary-link {
  margin: 0;
  padding: 0;
  border: none;
}
