/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

#main-menu {
  background: $white;

  .menu-link,
  .menu .active,
  .menu-item.open .menu-toggle-btn {
    color: $brand-primary;
    @include adjust-font-size-to(16px);
  }

  .menu .menu-item .active {
    border-bottom-color: $brand-primary;
  }

  .menu-link {
    &:hover,
    &:focus {
      background: $brand-primary;
      color: $white;
    }
  }

  .menu-main_sub .menu-item span.active {
    @include adjust-font-size-to(14px);
    border-bottom-color: $brand-secondary;
    padding: 1rem;
  }

  .menu-main_sub {
    background: $brand-primary;

    .menu-item {
      .active {
        background: $brand-secondary;
        color: $white;
      }

      a {
        &:hover,
        &:focus {
          color: $white;
          background: $brand-secondary;
        }
      }
    }
  }
}

.homepage--pull-quote {
  background: resolve('front-banner.png') no-repeat 50%;
  height: 30rem;

  .container-wrap {
    padding: 9.4rem 0;

    @media screen and (max-width: $max-grid-width) {
      padding: 6.4rem 2rem;
    }
    @media screen and (max-width: $mob) {
      padding: 5rem 2rem;
    }
  }

  blockquote {
    @include adjust-font-size-to(30px);
    font-weight: bold;
    max-width: 60%;
    @media screen and (max-width: $tab) {
      @include adjust-font-size-to(26px);
    }
    @media screen and (max-width: $mob) {
      @include adjust-font-size-to(22px);
    }

    p {
      color: $white;
    }

    &::before,
    &::after {
      background: none;
      padding: 0;
    }
  }
}

.region-front-welcome {
  #block-homepageinformation {
    border-bottom: solid $brand-primary 2px;
    margin-bottom: 5%;
  }

  .block {
    h2 {
      text-align: left;
      padding: 0 10px 0 10px;
      margin: 1.6rem 0 0.8rem;
      color: $brand-primary;
    }

    p {
      @include adjust-font-size-to(21px);
      text-align: left;
      display: flex;
      line-height: 3rem;
      width: 100%;
      padding: 1%;
      @media screen and (max-width: $tab) {
        @include adjust-font-size-to(18px);
      }

      .btn {
        width: 28rem;
      }
    }
  }
}

.homepage-featured {
  .featured-item-row {
    display: flex;
    justify-content: space-evenly;

    @media screen and (max-width: $tab) {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }

  .featured-item-column {
    margin: 0 10px 0 10px;
    padding-bottom: 3rem;
    border: solid 2px $brand-primary;

    p {
      @include adjust-font-size-to(18px);
      padding: 0 10px 0 10px;
      color: $brand-secondary
    }

    .field-link {
      text-align: left;
      padding: 0 25px 0 10px;

      &:after {
        content: resolve('arrow-right.svg');
        display: inline-block;
        position: absolute;
        width: 2rem;
        padding: 0 5px;
      }
    }

    .media-image {
      margin: 0;
    }
  }
}

.path-publication-archive {
  h2.title {
    @include adjust-font-size-to(21px);
  }

  .published-date {
    margin: 0;
  }
}

.path-news-archive {
  h2.title {
    @include adjust-font-size-to(21px);
  }
}

#bottom-area {
  @include breakpoint($tab) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    margin-top: 4rem;
  }

  .column {
    width: auto;
    float: none;

    @include breakpoint($tab) {
      flex-basis: 46%;
    }
  }
}

#footer {
  .container-wrap {
    display: block;
  }
}

#top-area {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;

  #block-views-block-featured-content-featured-content-first,
  #block-views-block-latest-news-latest-news-home,
  #block-views-block-featured-content-featured-content-last {
    .content .card-deck .cards-pack .card .card__link {
      border: none;
      background: $grey-lightest;
      padding: 1rem;
      display: block;
      position: relative;

      @include breakpoint($tab) {
        min-height: 54rem;
      }

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        bottom: 15px;
        right: 10px;
        width: 3rem;
        height: 3rem;
        background-image: resolve('arrow_forward_link_blue.svg');
        background-position: center center;
        background-size: 2.4rem auto;
        background-repeat: no-repeat;
      }

      &:hover,
      &:focus {
        background: $offwhite;

        &:after {
          background-color: $charcoal;
          background-image: resolve('arrow_forward_white.svg');
        }
      }

      .media-image {
        margin: 0;
      }
    }
  }


  h2,
  p:last-child {
    color: $link;
  }

  p:last-child {
    @include breakpoint($tab) {
      position: absolute;
      bottom: 0;
    }
  }

  .column {
    width: 33rem;

    @media screen and (max-width: $tab) {
      margin: 0 1rem;

      &:last-child {
        margin-right: 1rem;
      }
    }
  }

  ul.cards-pack {
    list-style: none;
    margin: 0;
  }
}

.sidebar-second-layout {
  .rel-menu--latest-news {
    margin-bottom: 2rem;

    ul {
      margin-bottom: 1rem;

      li {
        padding: 0 0 .6rem 1rem;
        list-style: none;
        margin: 0 0 .2rem;
        position: relative;

        &::before {
          content: "-";
          left: 0;
          position: absolute;
          top: 0;
        }

        .date-published {
          display: block;
          font-size: 1.4rem;
          line-height: 1.8rem;
        }
      }
    }
  }
}
