/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

address {
  margin-bottom: 2.4rem;
}

.node-type-organisation {
  .media-image[data-picture-mapping="inline"] img {
    float: none;
    margin-left: 0;
  }
}

.label-bold {
  font-weight: bold;
  display: block;

  &:after {
    content: ':';
  }
}

.node-type-podcast {
  label-bold {
    font-weight: bold;
    display: inline;
  }
}
