/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

.top_left {
  min-height: 7.5rem;

  #logo img {
    height: 4rem;
    margin: 1.8rem 2rem 1.8rem 0;
    @media screen and (max-width: $tab) {
      position: relative;
      height: 3rem;
    }
  }
}

#main-menu {
  .menu-link {
    &:hover,
    &:focus {
      background: transparent;
      border-bottom: 5px solid $brand-secondary;
    }
  }

  .menu {
    .menu-item {
      .active,
      .active + .menu-main_sub .title a {
        background: transparent;
        border-bottom: 5px solid $brand-secondary;
      }
    }
  }
}

.region-front-welcome {
  background: resolve('he-background.png') no-repeat 50%;
  padding: 0rem 5rem 5rem 2rem;
  margin: auto;
}
@media screen and (min-width: 766px) {
  body {
    @include adjust-font-size-to(18px);
  }
}

#block-frontpagebanner {
  display: flex;
  align-items: flex-start;
  text-align: left;

  h2 {
    @include adjust-font-size-to(26px);
    color: $white;
    line-height: 1.5;
    text-align: left;

    @media screen and (max-width: $tab) {
      @include adjust-font-size-to(18px);
    }
    @media screen and (max-width: $mob) {
      @include adjust-font-size-to(14px);
    }
  }

  p {
    color: $white;
  }

  a.btn {
    background: #0369ab;
    @include adjust-font-size-to(18px);
    line-height: 2.5rem;
    padding: 1rem 2.8rem;
    border-radius: 5px;
    text-decoration: underline;
    text-decoration-color: $white;

    @media screen and (max-width: $tab) {
      @include adjust-font-size-to(16px);
      display: inline;
    }
    @media screen and (max-width: $mob) {
      @include adjust-font-size-to(12px)
    }

    &:hover,
    &:focus {
      opacity: .8;
      color: #fff;
      text-decoration: underline;
      background: #3bb350;
    }
  }
}

#top-area {
  h2 {
    color: $black;
    padding: 3rem 0 0;
  }
}

.node-type-event {
  .content-sidebar-wrap {
    width: 100%;

    @media screen and (max-width: $lap){
      padding: 0 1rem;
    }
  }
}

.event-banner {
  max-width: $max-grid-width;
  margin: 0 auto;

  .media-image[data-picture-mapping="thin_banner"] {
    margin-bottom: 0;

    figcaption {
      display: none;
    }

  }
}

.event-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  padding-top: 5rem;

  div.event-left {
    flex-basis: 100%;

    h1 {
      margin-top: 0;
    }
    @include breakpoint($tab) {
      flex-basis: 66%;
      padding-right: 3rem;
    }
  }

  p {
    flex: 1;
  }
}

div.event-right {
  flex-basis: 100%;

  @include breakpoint($mob) {
    flex-basis: 50%;
  }

  @include breakpoint($tab) {
    flex-basis: 33%;
  }

  .btn {
    width: 100%;
  }
}

div.event-info {
  background: #1b2c57;
  padding: 2rem;
  margin-bottom: 3rem;

  h2,
  p {
    color: $white;
  }

  h2 {
    margin-top: 0;
  }

  p {
    display: flex;

    &:first-child {
      border-bottom: 1px solid $white;
      padding-bottom: 1.8rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  span {
    display: block;
  }

  .fas {
    padding-right: 2rem;
    width: 6rem;
  }

  .fa-calendar-alt {
    font-size: 5rem;
  }

  .fa-clock {
    font-size: 4.8rem;
  }

  .fa-map-marker-alt {
    font-size: 5.8rem;
  }
}

.accordion-row {
  border-bottom: 1px solid $link;
  padding-bottom: 1rem;

  &:last-child {
    border: none;
  }

  h3 {
    @include responsive-typo-map($normal-text);
  }

  h3,
  p {
    margin-bottom: 0;
  }

  .event-start-time {
    &:after {
      content: ' -';

    }
  }
}

.path-events {
  .content-sidebar-wrap {
    @media screen and (max-width: $lap){
      padding: 0 1rem;
    }
  }

  .search-page .sidebar-first-layout {
    padding-left: 0;
  }

  #content .facet-summary {
    margin-bottom: 2rem;
  }

  .search-result {
    border: 1px solid #d3d7d9;
    padding: 0 1.5rem 1.5rem;
    margin-bottom: 2rem;

    h3 {
      @include adjust-font-size-to(21px);
      margin: 1.5rem 0 1.2rem;
    }

    p span {
      @include adjust-font-size-to(16px);
      margin-top: 1.5rem;
      color: #4d4d4d;
    }
  }
}

#content .home-latest-news {
  @include breakpoint($lap) {
    display: flex;
    justify-content: space-between;

    .field-photo {
      float: none;
      max-width: 100%;
      margin: 0;
    }

    .views-row {
      flex-basis: 31.5%;
    }
  }

  h3 {
    margin: 1rem 0;
    color: $link;

    @include breakpoint($tab) {
      @include adjust-font-size-to(18px, 4);
    }
  }

  .news-article {
    border: 1px solid black;
    padding: 2.4rem;
    height: 24rem;
    width: 30rem;
  }

  article {
    clear: right;
    margin-bottom: 2.4rem;

    p {
      margin-bottom: 0;
    }

    a.news-link{
      &:hover,
      &:focus {
        border-bottom: none;
        outline: none;
        background: none;

        .news-article {
          background: $link-hover-background;
          margin: 0 -1px -3px;

          h3 {
            color: $link-hover;
          }
        }
      }
    }
  }

  .published-date {
    margin-bottom: 0;
  }
}

#content {
  .home-latest-news {
    a[href] {
      margin: 0;
      padding: 0;
    }
  }
}
