/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';


.region-slideshow {
  background: resolve('lgbc-bkgd.png') no-repeat 50%;
  height: 30rem;

  blockquote {
    @include adjust-font-size-to(30px);
    font-weight: bold;
    max-width: 60%;
    @media screen and (max-width: $tab) {
      @include adjust-font-size-to(26px);
    }
    @media screen and (max-width: $mob) {
      @include adjust-font-size-to(22px);
    }

    h2 {
      color: $white;
      margin: 5rem;
    }

    &::before,
    &::after {
      background: none;
      padding: 0;
    }
  }
}
