/*
 * @file
 * Defines the components for the theme.
 */
@import 'init/index';
@import '../../node_modules/nicsdru_unity_theme/src/scss/3_components/index';

#main-menu {
  background: none;

  ui, li {
    list-style: none;
  }

  .nav-main {
    justify-content: center;
  }
}

#headerHero {
  background: none;
}

#block-nicsloginnotice {
  background: $grey-medium;
  text-align: center;

  h2 {
    @include adjust-font-size-to(30px);
  }

  p {
    @include adjust-font-size-to(16px);
  }
}
#header {
  background: #f8f8f8;
  border: solid 1px #e7e7e7;
  border-radius: 6px;
  padding: 5px 5px 0px 20px;
}
