{#
* For Developers,
* - This javascript code is being output through the browsealoud custom block.
* - Will not run locally as the config is setup through platform.
#}
<script type="text/javascript">//<![CDATA[
  var _baLocale = 'uk'; var _baUseCookies = true; var _baHiddenMode = true; var _baHideOnLoad = true;
  //]]></script><script type="text/javascript" src="//www.browsealoud.com/plus/scripts/ba.js"></script>
<p><a href="javascript" onclick="BrowseAloud.panel.toggleBar(event);return false;" title="Listen with browsealoud">{{ "Browsealoud"|t }}</a></p>
